<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="icon" href="img/corazon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/styles.css">
    <title>DANIELA MORALES</title>
</head>

<body>
    <!-- SECCION I N I C I O -->
    <section id="inicio">
       
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <h1>/ DM /</h1>
                    <nav id="nav" class="">
                        <ul id="links">
                            <li><a href="#inicio" class="seleccionado" onclick="seleccionar(this)">INICIO</a></li>
                            <li><a href="#sobremi" onclick="seleccionar(this)">SOBRE MI</a></li>
                            <li><a href="#skills" onclick="seleccionar(this)">SKILLS</a></li>
                            <li><a href="#portfolio" onclick="seleccionar(this)">PROYECTOS</a></li>
                            <li><a href="#servicios" onclick="seleccionar(this)">MÁS</a></li>
                            <li><a href="#contacto" onclick="seleccionar(this)">CONTACTO</a></li>
                        </ul>
                    </nav>

                    <!-- Icono del menu responsive -->
                    <div id="icono-nav" onclick="responsiveMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div>


                    <div class="redes">
                        <a href="https://api.whatsapp.com/send/?phone=2664338927&text&type=phone_number&app_absent=0" target="_blank"><i class="fab fa-whatsapp" ></i></a>
                        <a href="https://www.linkedin.com/in/daniela-ariadna-morales-b786b4197/" target="_blank"> <i class="fab fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/daniela.ariadnaa/" target="_blank"><i class="fa-brands fa-instagram-square"></i></a>
                        <a href="https://github.com/danielaariadna" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </header>
            
                <div class="presentacion">
                    <div id="container"></div>
                    <div id="container2">
                    <p class="bienvenida">¡Hello World!</p>
                    <h2>Soy <span>Daniela Ariadna Morales</span> </h2>
                    <p class="descripcion">Actualmente me encuentro en busqueda laboral como desarrolladora web backend</p>
                    <a href="#portfolio">Ver Portfolio</a>
                 </div>
                </div>
          
        </div>
    </section>

   <!-- SECCION S O B R E M I -->
        <section id="sobremi">
            <div class="contenedor-foto">
                <img src="img/perfil.jpg" alt="">
            </div>
            <div class="sobremi">
                <p class="titulo-seccion">Sobre Mi</p>
                <h2>Hola, Soy <span>Daniela</span> </h2>
                <h3>Estudiante de Ingeniería en Informática</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur reprehenderit voluptatibus blanditiis nulla adipisci iste fuga expedita, ea exercitationem dicta, similique rem, atque soluta recusandae ipsam autem. Sapiente, quo ducimus?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nam a beatae natus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nam a beatae natusLorem ipsum dolor sit amet consectetur adipisicing elit. Porro nam a beatae natusLorem ipsum dolor sit amet consectetur adipisicing elit. Porro nam a beatae natusLorem ipsum dolor sit amet consectetur adipisicing elit. Porro nam a beatae natusLorem ipsum dolor sit amet consectetur adipisicing elit. Porro nam a beatae natus</p>
                <a href="img/Morales_Daniela_CV.pdf" target="_blank">Abrir CV</a>
            </div>
        </section>

   <!-- SECCION H A B I L I D A D E S -->
   <section id="skills">
    <video autoplay muted loop id="video-fondo-skills">
        <source src="img/fondo2.mp4" type="video/mp4">
        <!-- Agrega más sources para formatos diferentes si es necesario -->
        Tu navegador no soporta videos HTML5.
    </video>
    <div class="skill-category">
        <h3 class="titulo-seccion">SKILLS</h3><br>
        <p>🔥: Mi fuerte - 🌱: Básico</p>
        <kbd>
            <kbd><h1>Back-end🔥</h1></kbd>
            <br>
            <br>
            <img width="50px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg" />
            <img width="50px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/C.svg" />
          </kbd>
        <kbd>
            <kbd><h1>Term Script🔥</h1></kbd>
            <br>
            <br>
            <img width="50px" src="img/gnu-bash.png" />
          </kbd>
        
        <kbd>
            <kbd><h1>OS🔥</h1></kbd>
            <br>
            <br>
            <img width="50px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" />
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Kali-Dark.svg" />
        </kbd>
        <kbd>
            <kbd><h1>Data Base🔥</h1></kbd>
            <br>
            <br>
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/MySQL-Dark.svg" />
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/PostgreSQL-Dark.svg" />
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/SQLite.svg" />
          </kbd>
     
        <br>
        <kbd>
            <kbd><h1>Front-end🌱 </h1></kbd>
            <br>
            <br>
            <img width="50px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" /> 
            <img width="50px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" /> 
            <img width="50px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
          </kbd>
        
      
        <kbd>
            <kbd><h1>Mobile🌱 </h1></kbd>
          <br>
          <br>
          <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/AndroidStudio-Dark.svg" />
        </kbd>
          
        <kbd>
            <kbd><h1>Tools</h1></kbd>
            <br>
            <br>
            <img width="50px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" />
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Github-Dark.svg" />
          </kbd>
    
    </div>
    
</section>
    <!-- SECCION PORTAFOLIO -->
    <section id="portfolio">
        <h3 class="titulo-seccion">˖⁺‧₊˚♡˚₊‧⁺˖ Mis Proyectos ˖⁺‧₊˚♡˚₊‧⁺˖</h3>
        <h1>//Haz click para más información </h1>
      
        <div class="fila">
            <div class="proyecto" onclick="openModal('modal1')" >
                <div class="overlay"></div>
                <img src="img/hh.png" alt="">
                <div class="info">
                    <h4>App de escritorio: Protección y Compresión de archivos</h4>
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/Java-Dark.svg" alt="Icono" class="icono">  
        
                </div>
            </div>
            
            <div class="proyecto" onclick="openModal('modal2')">
                <div class="overlay"></div>
                <img src="img/veterinaria.png" alt="">
                <div class="info">
                    <h4>Página web Veterinaria</h4>
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/PHP-Dark.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/CSS.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/HTML.svg" alt="Icono" class="icono">
                </div>
            </div>
            <div class="proyecto" onclick="openModal('modal3')">
                <div class="overlay"></div>
                <img src="img/eda.png" alt="">
                <div class="info">
                    <h4>Costos en Estructuras</h4>
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/C.svg" alt="Icono" class="icono">
                </div>
            </div>
        </div>
        <div class="fila">
            <div class="proyecto"  onclick="openModal('modal4')">
                <div class="overlay"></div>
                <img src="img/galeria.png" alt="">
                <div class="info">
                    <h4>App Móvil Galería de Arte</h4>
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/AndroidStudio-Dark.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/SQLite.svg" alt="Icono" class="icono">
                </div>
            </div>
            <div class="proyecto" onclick="openModal('modal5')">
                <div class="overlay"></div>
                <img src="img/vuelos.png" alt="">
                <div class="info">
                    <h4>Página Web Reserva de Vuelos</h4>
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/NodeJS-Dark.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/JavaScript.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/CSS.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/HTML.svg" alt="Icono" class="icono">
                </div>
            </div>
            <div class="proyecto" onclick="openModal('modal6')">
                <div class="overlay"></div>
                <img src="img/portfolio.png" alt="">
                <div class="info">
                    <h4>Esta página</h4>
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/NodeJS-Dark.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/JavaScript.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/CSS.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/HTML.svg" alt="Icono" class="icono">
                </div>
            </div>
        </div>
        <div class="fila">
            <div class="proyecto" onclick="openModal('modal7')">
                <div class="overlay"></div>
                <img src="img/redesWan.png" alt="">
                <div class="info">
                    <h4>Diseño de red Empresa Crediticia</h4>
                    <p>FTTH, ADSL/SDSL</p>
                </div>
            </div>
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="img/cisco.png" alt="">
                <div class="info">
                    <h4>Red Simple</h4>
                    <p>Cisco Packet Tracer</p>
                </div>
            </div>
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="img/kali.png" alt="">
                <div class="info">
                    <h4>Resolución máquinas de Hack The Box</h4>
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/Kali-Dark.svg" alt="Icono" class="icono">
                </div>
            </div>
        </div>









        <div id="modal1" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal1')">&times;</span>
                <h2>PROTECCIÓN Y COMPRESIÓN DE ARCHIVOS .TXT Y .DOCX </h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/hh.png" alt="" class="active">
                            <img src="img/hh1.png" alt="">
                            <img src="img/hh2.png" alt="">
                            <img src="img/hh3.png" alt="">
                            <img src="img/hh4.png" alt="">
                            <img src="img/hh5.png" alt="">
                            <img src="img/hh6.png" alt="" >
                            <img src="img/hh7.png" alt="">
                            
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'modal1')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'modal1')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto consectetur nostrum explicabo illum sint culpa nisi<br> deserunt dolorem fugiat placeat. Quod voluptate natus dolorem magni, modi minima mollitia quibusdam blanditiis.</p>
                        <div class="tech-icons">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/Java-Dark.svg" alt="Icono">
                            <!-- Añadir más iconos aquí -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal2" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal2')">&times;</span>
                <h2>PÁGINA WEB VETERINARIA </h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/vet1.png" alt="" class="active">
                            <img src="img/veterinaria.png" alt="">
                            <img src="img/vet2.png" alt="">
                            <img src="img/vet3.png" alt="">
                            <img src="img/vet4.png" alt="">
                            <img src="img/vet5.png" alt="">
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'modal2')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'modal2')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto consectetur nostrum explicabo illum sint culpa nisi<br> deserunt dolorem fugiat placeat. Quod voluptate natus dolorem magni, modi minima mollitia quibusdam blanditiis.</p>
                        <div class="tech-icons">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/PHP-Dark.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/CSS.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/HTML.svg" alt="Icono" class="icono">
                            <!-- Añadir más iconos aquí -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal3" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal3')">&times;</span>
                <h2>COSTOS DE ALTA/BAJA/EVOCAR EN ESTRUCTURAS</h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/eda.png" alt="" class="active">
                            <img src="img/eda1.png" alt="">
                            <img src="img/eda2.png" alt="">
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'modal3')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'modal3')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto consectetur nostrum explicabo illum sint culpa nisi<br> deserunt dolorem fugiat placeat. Quod voluptate natus dolorem magni, modi minima mollitia quibusdam blanditiis.</p>
                        <div class="tech-icons">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/C.svg" alt="Icono" class="icono">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal4" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal4')">&times;</span>
                <h2>APP MÓVIL: GALERÍA DE ARTE</h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/galeria.png" alt="" class="active">
                            <img src="img/g2.png" alt="">
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'modal4')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'modal4')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto consectetur nostrum explicabo illum sint culpa nisi<br> deserunt dolorem fugiat placeat. Quod voluptate natus dolorem magni, modi minima mollitia quibusdam blanditiis.</p>
                        <div class="tech-icons">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/AndroidStudio-Dark.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/SQLite.svg" alt="Icono" class="icono">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal5" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal5')">&times;</span>
                <h2>PÁGINA WEB: RESERVA DE VUELOS <img src="img/br.png" class="icono1"></h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/vuelos.png" alt="" class="active">
                            <img src="img/v2.png" alt="">
                            <img src="img/v3.png" alt="">
                            <img src="img/v3.png" alt="">
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'modal5')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'modal5')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto consectetur nostrum explicabo illum sint culpa nisi<br> deserunt dolorem fugiat placeat. Quod voluptate natus dolorem magni, modi minima mollitia quibusdam blanditiis.</p>
                        <div class="tech-icons">
                            <br>
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/NodeJS-Dark.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/JavaScript.svg" alt="Icono" class="icono">
                             <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/CSS.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/HTML.svg" alt="Icono" class="icono">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal6" class="modal">                           
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal6')">&times;</span>
                <h2>MI PORTFOLIO</h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/eda.png" alt="" class="active">
                            <img src="img/eda1.png" alt="">
                            <img src="img/eda2.png" alt="">
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'modal6')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'modal6')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto consectetur nostrum explicabo illum sint culpa nisi<br> deserunt dolorem fugiat placeat. Quod voluptate natus dolorem magni, modi minima mollitia quibusdam blanditiis.</p>
                        <div class="tech-icons">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/NodeJS-Dark.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/JavaScript.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/CSS.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/HTML.svg" alt="Icono" class="icono">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal7" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal7')">&times;</span>
                <h2>DISEÑO DE RED </h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/redesWan.png" alt="" class="active">
                            <img src="img/1.png" alt="">
                            <img src="img/2.png" alt="">
                            <img src="img/3.png" alt="">
                            <img src="img/4.png" alt="">
                            <img src="img/5.png" alt="">
                            <img src="img/6.png" alt="">
                            <img src="img/7.png" alt="">
                            <img src="img/8.png" alt="">
                            <img src="img/9.png" alt="">
                            <img src="img/10.png" alt="">
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'modal7')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'modal7')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto consectetur nostrum explicabo illum sint culpa nisi<br> deserunt dolorem fugiat placeat. Quod voluptate natus dolorem magni, modi minima mollitia quibusdam blanditiis.</p>
                        <div class="tech-icons">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


   
    </section>

    <!-- SECCION S E R V I C I O S -->
    <section id="servicios">
        <video autoplay muted loop id="video-fondo-servicios">
            <source src="img/fondo.mp4" type="video/mp4">
            <!-- Agrega más sources para formatos diferentes si es necesario -->
            Tu navegador no soporta videos HTML5.
        </video>
        <h3 class="titulo-seccion">Un poco de todo</h3>
        <h1>//Haz click para ver las fotos </h1>
        
        <div class="fila">
            <div class="servicio" >
                
                <h4>INGENIERÍA EN INFORMÁTICA UNSL</h4>
                <hr>
             
                <p><strong> 
                    </strong></p>
            </div>
            
            <div class="servicio" >
                
                <h4>"MI PRIMER EMPLEO"</h4>
                <hr>
               
                
            </div>
            <div class="servicio" onclick="openModal('mip')">
                
                <h4>MI PRIMER EMPLEO</h4>
                <hr>
               
                
            </div>
            

            
        </div>
        <div class="fila">
            <div class="servicio"   onclick="openModal('rally')">
                
                <h4>RALLY LATINOAMERICANO DE INNOVACIÓN 2023</h4>
                <hr>
              
           
            </div>
            <div class="servicio"  data-media="img/cacic1.jpg,img/cacic2.jpg,img/cacic3.jpg,img/cacic4.jpg,img/cacic5.jpg,img/cacic6.jpg,img/cacic7.jpg">
                
                <h4>VIAJES AL CACIC</h4>
                <hr>
                
            
            </div>

            <div class="servicio" data-media="img/clases1.mp4,img/clases2.jpg,img/clases3.jpg,img/clases4.jpg">
                
                <h4>PROFESORA PARTICULAR</h4>
                <hr>
                
                
            </div>
        </div>

        
    </section>

    <div id="mip" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('mip')">&times;</span>
            <h2>MI PRIMER EMPLEO </h2>
            <div class="modal-body">
                <div class="carousel">
                    <div class="carousel-inner">
                        <img src="img/vuelos.png" alt="" class="active">
                        <img src="img/v2.png" alt="">
                        <img src="img/v3.png" alt="">
                        <img src="img/v3.png" alt="">
                    </div>
                    <a class="prev" onclick="cambiarImagen(-1, 'mip')">&#10094;</a>
                    <a class="next" onclick="cambiarImagen(1, 'mip')">&#10095;</a>
                       
                </div>
                <div class="description">
                    <p> "Mi Primer Empleo" fue una pasantía de Amcor Flexibles SL, creada para brindarle a los/las hijos/as de sus trabajadores la posibilidad de tener su primera experiencia laboral. Si bien no fué realmente mi primer trabajo, decidí participar por la experiencia, ya que ninguno de los sectores disponibles tenían que ver con la carrera que estudio.
                        Estuve en el sector de Laboratorio, donde aprendí a elaborar informes, inventarios, normas de seguridad e higiene, testeos de calidad, entre otras cosas. Lo que más aprendí de esta empresa fue sobre la prevención de riesgos, la seguridad y la importancia de cumplir los protocolos, el método que utilizaban redujo drásticamente los accidentes laborales. Agradezco haber participado y haber adquirido tantos conocimientos, sin dudas mi día preferido de los 2 meses que estuve, fué el que pasé en el Área de Informática, luego de que pedí que me dieran la oportunidad. Ver de cerca como mantenían los servidores y cómo funcionaba el equipo IT, me inspiró a esforzarme más y más para llegar a esa meta.
                        </p>
                 
                </div>
            </div>
        </div>
    </div>
    <div id="rally" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('rally')">&times;</span>
            <h2>RALLY LATINOAMERICANO DE INNOVACIÓN 2023 </h2>
            <div class="modal-body">
                <div class="carousel">
                    <div class="carousel-inner">
                        <img src="img/vuelos.png" alt="" class="active">
                        <img src="img/v2.png" alt="">
                        <img src="img/v3.png" alt="">
                        <img src="img/v3.png" alt="">
                    </div>
                    <a class="prev" onclick="cambiarImagen(-1, 'rally')">&#10094;</a>
                    <a class="next" onclick="cambiarImagen(1, 'rally')">&#10095;</a>
                       
                </div>
                <div class="description">
                    <p> "Mi Primer Empleo" fue una pasantía de Amcor Flexibles SL, creada para brindarle a los/las hijos/as de sus trabajadores la posibilidad de tener su primera experiencia laboral. Si bien no fué realmente mi primer trabajo, decidí participar por la experiencia, ya que ninguno de los sectores disponibles tenían que ver con la carrera que estudio.
                        Estuve en el sector de Laboratorio, donde aprendí a elaborar informes, inventarios, normas de seguridad e higiene, testeos de calidad, entre otras cosas. Lo que más aprendí de esta empresa fue sobre la prevención de riesgos, la seguridad y la importancia de cumplir los protocolos, el método que utilizaban redujo drásticamente los accidentes laborales. Agradezco haber participado y haber adquirido tantos conocimientos, sin dudas mi día preferido de los 2 meses que estuve, fué el que pasé en el Área de Informática, luego de que pedí que me dieran la oportunidad. Ver de cerca como mantenían los servidores y cómo funcionaba el equipo IT, me inspiró a esforzarme más y más para llegar a esa meta.
                        </p>
                 
                </div>
            </div>
        </div>
    </div>
    <!-- SECCTION C O N T A C T O -->
    <section id="contacto">
        <h3 class="titulo-seccion">¡Contactame!</h3>
        <h1>// Támbien acepto criticas constructivas sobre la página y mis proyectos :) </h1>
        <div class="contenedor-form">
            <form action="">
                <div class="fila mitad">
                    <input type="text" placeholder="Nombre Completo *" class="input-mitad">
                    <input type="email" placeholder="Dirección de Email" class="input-mitad">
                </div>
                <div class="fila">
                    <input type="text" placeholder="Tema..." class="input-full">
                </div>
                <div class="fila">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Tu Mensaje..." class="input-full"></textarea>
                </div>

                <input type="submit" value="Enviar Mensaje" class="btn-enviar">
            </form>
        </div>
    </section>

    <!-- SECCION FOOTER -->
    <footer>
        <p>Todos los derechos reservados - 2023</p>
        <div class="redes2">
            <a href="https://api.whatsapp.com/send/?phone=2664338927&text&type=phone_number&app_absent=0" target="_blank"><i class="fab fa-whatsapp" ></i></a>
            <a href="https://www.linkedin.com/in/daniela-ariadna-morales-b786b4197/" target="_blank"> <i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/daniela.ariadnaa/" target="_blank"><i class="fa-brands fa-instagram-square"></i></a>
            <a href="https://github.com/danielaariadna" target="_blank"><i class="fab fa-github"></i></a>
        </div>

    </footer>
    
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.158.0/three.min.js"> </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/animation.js"></script>
    <script src="/script.js"></script>
</body>

</html>
