<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="icon" href="img/corazon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>ARIADNA MORALES</title>
</head>

<body>
    <!-- SECCION I N I C I O -->
    <section id="inicio">
       
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <h1>/ ARI /</h1>
                    <nav id="nav" class="">
                        <ul id="links">
                            <li><a href="#inicio" class="seleccionado" onclick="seleccionar(this)">INICIO</a></li>
                            <li><a href="#sobremi" onclick="seleccionar(this)">SOBRE MÍ</a></li>
                            <li><a href="#skills" onclick="seleccionar(this)">SKILLS</a></li>
                            <li><a href="#portfolio" onclick="seleccionar(this)">PROYECTOS</a></li>
                            <li><a href="#servicios" onclick="seleccionar(this)">MÁS</a></li>
                            <li><a href="#contacto" onclick="seleccionar(this)">CONTACTO</a></li>
                        </ul>
                    </nav>

                    <!-- Icono del menu responsive -->
                    <div id="icono-nav" onclick="responsiveMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div>


                    <div class="redes">
                        <a href="mailto:danielaariadnamorales@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                        <a href="https://www.linkedin.com/in/daniela-ariadna-morales-b786b4197/" target="_blank"> <i class="fab fa-linkedin"></i></a>
                        <a href="https://drive.google.com/drive/folders/1gdTpIsoBM3AB-t3DkOy-JcCNaZNIGoXB?usp=drive_link" target="_blank"><i class="fab fa-google-drive"></i></a>
                        <a href="https://github.com/danielaariadna" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </header>
            
                <div class="presentacion">
                    <div id="container-wrapper">
                        <div id="container"></div>
                    </div>
                    <div id="container2">
                    <p class="bienvenida">¡Hello World!</p>
                    <h2 >Soy <span class="typed"></span> </h2>
                    <p class="descripcion">Actualmente me encuentro en la búsqueda de mi primera experiencia laboral en el mundo IT.</p>
                    <a href="#portfolio">Ver Portfolio</a>
                    
                 </div>
                </div>
          
        </div>
    </section>

   <!-- SECCION S O B R E M I -->
    <section id="sobremi">
            <div class="contenedor-foto"data-aos="fade-right" >
                <img src="img/perfil.jpg" alt="" >
                
            </div>
            
            <div class="sobremi" >
                <p class="titulo-seccion">SOBRE MÍ</p>
                <h2 data-aos="fade-left">Hola, Soy <span>Ariadna</span> </h2>
                <h3>Estudiante de Ingeniería en Informática | Desarrollo Backend | Pentesting</h3>
                <p>No pretendo poner la descripción más genérica y aburrida del mundo. Si pudiera describirme de forma breve, diría que:</p>
                <ul data-aos="fade-left">
                    <li>Amo la carrera que estudio, y amo que me haya dado las bases de todo lo que sé y la capacidad del autoaprendizaje.</li>
                    <li>Hace poco empecé en la ciberseguridad y el pentesting, y siento que encontré mi camino.</li>
                    <li>Di lo mejor de mí haciendo esta página porque no soy muy amiga del frontend.</li>
                    <li>Soy auténtica y fiel a mi estilo personal.</li>
                    <li>A veces siento que la vida no me va a alcanzar para aprender todo lo que quiero aprender.</li>
                    <li>Estoy en proceso de mejorar mi nivel oral de inglés.</li>
                    <li>Me gusta poner las cosas en ítems.</li>
                </ul>
                <a href="img/Morales_Daniela_CV.pdf" target="_blank">Abrir CV</a>
                <a href="img/CertificadosMoralesDaniela.pdf" target="_blank" class="separado">Ver certificados</a>
            </div>
    </section>

   <!-- SECCION H A B I L I D A D E S -->
    <section id="skills">
    
        <div class="video-background">
           
            <video class="video-foreground" autoplay muted loop playsinline>
                <source id="videoSource1" src="img/fondo2PCS.mp4" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
        </div>
    
    <div class="skill-category">
        <h3 class="titulo-seccion">SKILLS</h3>
        <h2>Actualmente estoy enfocada en:</h2>
        <kbd data-aos="zoom-in">
            <kbd><h1>Back-end</h1></kbd>
            <br>
            <br>
            <img width="50px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" title="NodeJS"/>
          </kbd>
        <kbd data-aos="zoom-in">
            <kbd><h1>Term Script</h1></kbd>
            <br>
            <br>
            <img width="50px" src="img/gnu-bash.png" title="GNU Bash" />
          </kbd>
        
        <kbd data-aos="zoom-in">
            <kbd><h1>Pentesting</h1></kbd>
            <br>
            <br>
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Python-Dark.svg" title="Python"/>
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Kali-Dark.svg"title="Kali Linux" />
        </kbd>
         <kbd data-aos="zoom-in">
            <kbd><h1>Networks</h1></kbd>
            <br>
            <br>
          
            <ul>
                    <li>Protocolos </li> 
                    <li>Dispositivos </li> 
                    <li>LANS/WLANS/VLANS</li> 
            </ul>
          
         </kbd>
         <kbd data-aos="zoom-in">
         <kbd><h1>Tools</h1></kbd>
         <br>
         <br>
         <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Git.svg" title="Git"/>
         <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Github-Dark.svg"title="Github" />
       </kbd>
          <br>
        <h2>Pero también esoy familiarizada con:</h2>

        <kbd data-aos="zoom-in">
            <kbd><h1>Back-end</h1></kbd>
            <br>
            <br>
            <img width="50px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg"  title="PHP"/>
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Java-Dark.svg"  title="Java"/>
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/C.svg"  title="C"/>
          </kbd>
        </kbd>

        <kbd data-aos="zoom-in">
            <kbd><h1>Front-end </h1></kbd>
            <br>
            <br>
            <img width="50px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" title="HTML5"/> 
            <img width="50px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" title="CSS3"/> 
            <img width="50px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"title="Javascript" />
          </kbd>
        
      
        <kbd data-aos="zoom-in">
            <kbd><h1>Mobile </h1></kbd>
          <br>
          <br>
          <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/AndroidStudio-Dark.svg" title="AndroidStudio"/>
        </kbd>
        <kbd data-aos="zoom-in">
            <kbd><h1>Data Base</h1></kbd>
            <br>
            <br>
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/PostgreSQL-Dark.svg" title="PostgreSQL"/>
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/SQLite.svg"title="SQLite" />
            <img width="50px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/MySQL-Dark.svg" title="MySQL"/>
          </kbd>
          
          <h2>Certificaciones:</h2>
          <kbd data-aos="zoom-in">
            <img width="130px" src="img/sc900.svg" title="SC-900"/>
          </kbd>
          <br>
    </div>

    </section>
    <!-- SECCION PORTAFOLIO -->
    <section id="portfolio">
        <h3 class="titulo-seccion">˖⁺‧₊˚♡˚₊‧⁺˖ Mis Proyectos ˖⁺‧₊˚♡˚₊‧⁺˖</h3>
        <h1>//Haz click para más información </h1>
        <div class="fila">
            <div class="proyecto" onclick="openModal('port')" >
                <div class="overlay" ></div>
                <img src="img/portfolio.png" alt="" data-aos="zoom-in">
                <div class="info">
                    <h4>Esta página</h4>
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/NodeJS-Dark.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/JavaScript.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/CSS.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/HTML.svg" alt="Icono" class="icono">
                </div>
            </div>
            
            <div class="proyecto" onclick="openModal('redWan')">
                <div class="overlay"></div>
                <img src="img/redesWan.png" alt="" data-aos="zoom-in">
                <div class="info">
                    <h4>Diseño de red Empresa Crediticia</h4>
                    <p>FTTH, ADSL/SDSL</p>
                    
                </div>
            </div>
            <div class="proyecto" onclick="openModal('eda')">
                <div class="overlay"></div>
                <img src="img/eda.png" alt="" data-aos="zoom-in">
                <div class="info">
                    <h4>Costos en Estructuras</h4>
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/C.svg" alt="Icono" class="icono">
                </div>
            </div>
            
        </div>
        <div class="fila"  >
            <div class="proyecto" onclick="openModal('hyh')"  >
                <div class="overlay"></div>
                <img src="img/hh.png" alt="" data-aos="zoom-in">
                <div class="info" >
                    <h4>App de escritorio: Protección y Compresión de archivos</h4>
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/Java-Dark.svg" alt="Icono" class="icono">  
        
                </div>
            </div>
            
            <div class="proyecto" onclick="openModal('vet')">
                <div class="overlay"></div>
                <img src="img/veterinaria.png" alt="" data-aos="zoom-in">
                <div class="info">
                    <h4>Página web Veterinaria</h4>
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/PHP-Dark.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/CSS.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/HTML.svg" alt="Icono" class="icono">
                </div>
            </div>
            <div class="proyecto"  onclick="openModal('art')">
                <div class="overlay"></div>
                <img src="img/galeria.png" alt="" data-aos="zoom-in">
                <div class="info">
                    <h4>App Móvil Galería de Arte</h4>
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/AndroidStudio-Dark.svg" alt="Icono" class="icono">
                    <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/SQLite.svg" alt="Icono" class="icono">
                </div>
            </div>
        </div>




<!-- Descripcion de proyectos -->
        <div id="hyh" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('hyh')">&times;</span>
                <h2>PROTECCIÓN Y COMPRESIÓN DE ARCHIVOS</h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/hh.png" alt="" class="active">
                            <img src="img/hh1.png" alt="">
                            <img src="img/hh2.png" alt="">
                            <img src="img/hh3.png" alt="">
                            <img src="img/hh4.png" alt="">
                            <img src="img/hh5.png" alt="">
                            <img src="img/hh6.png" alt="" >
                            <img src="img/hh7.png" alt="">
                            
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'hyh')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'hyh')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p >Esta aplicación de escritorio permite proteger/desproteger y compactar/descompactar archivos.<br>
                            <ul>
                                <li>Funciona con archivos .txt y .docx.</li>
                                <li>Los archivos deben estar en la misma ruta del proyecto.</li>
                                <li>Créditos a mi compañero de equipo Juan Sánchez, quién realizó la parte de Protección y Compresión.</li>
                                <li>Yo realicé la Desprotección y Descompresión, además de la interfaz.</li>
                                <li>Laboratorio final para la materia Teoría de la Información y la Comunicación.</li>
                              </ul>
                        </p>
                        <div class="button-container">
                            <a href="https://github.com/danielaariadna/HammingHuffman" target="_blank" >
                                <img width="40px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Github-Dark.svg" alt="Google Drive">
                                Repositorio
                            </a>
                        </div>
                        <div class="tech-icons">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/Java-Dark.svg" alt="Icono">
                            <!-- Añadir más iconos aquí -->
                        </div>
                    </div>
                </div>
            </div>
            <button id="prevProject" class="nav-button" onclick="cambiarProyect(-1)" >&#10094;</button>
            <button id="nextProject" class="nav-button" onclick="cambiarProyect(1)">&#10095;</button>
        </div>
        <div id="vet" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('vet')">&times;</span>
                <h2>PÁGINA WEB VETERINARIA </h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/vet1.png" alt="" class="active">
                            <img src="img/veterinaria.png" alt="">
                            <img src="img/vet2.png" alt="">
                            <img src="img/vet3.png" alt="">
                            <img src="img/vet4.png" alt="">
                            <img src="img/vet5.png" alt="">
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'vet')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'vet')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Página para gestión de una Veterinaria/Centro de adopción hecha para la materia Tópicos Avanzados de Tecnologías Web con MVC Codeigniter. La página NO es responsive, es un proyecto para backend y en el momento que hice la página aún no tenía muchas herramientas para el front, por lo que podrás encontrar muchos errores en esa parte. Puede llegar a ser útil para algún desarrollador/a frontend que quiera re-hacerlo, el backend funciona perfecto y dentro está el volcado sql.</p>
                        <div class="button-container">
                            <a href="https://github.com/danielaariadna/veterinaria" target="_blank">
                                <img width="40px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Github-Dark.svg" alt="Google Drive">
                                Repositorio
                            </a>
                        </div>
                        <div class="tech-icons">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/PHP-Dark.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/CSS.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/HTML.svg" alt="Icono" class="icono">
                            <!-- Añadir más iconos aquí -->
                        </div>
                        
                    </div>
                </div>
            </div>
            <button id="prevProject" class="nav-button" onclick="cambiarProyect(-1)" >&#10094;</button>
            <button id="nextProject" class="nav-button" onclick="cambiarProyect(1)">&#10095;</button>
        </div>
        <div id="eda" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('eda')">&times;</span>
                <h2>COSTOS EN ESTRUCTURAS</h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/eda.png" alt="" class="active">
                            <img src="img/eda1.png" alt="">
                            <img src="img/eda2.png" alt="">
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'eda')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'eda')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Estructuras utilizadas:
                        <ul>
                            <li>Lista Secuencial Ordenada con búsqueda por Bisección (LSOBB).</li>
                            <li>Lista Invertida con búsqueda por Trisección (LIBT) *</li>
                            <li>Árbol Binario de Búsqueda (ABB).</li>
                        </ul>
                        Operaciones de Alta, Baja y Evocación de automáticas a través de un archivo .txt. Se puede realizar la comparación de los costos en cada estructura o visualizar los envíos que quedaron cargados en cada una.<br>
                        * Créditos a mi compañero de grupo Francisco Sayago, quién realizó el header de la Lista Invertida.</p>
                        
                        <div class="button-container">
                            <a href="https://github.com/danielaariadna/P2_GRUPO6" target="_blank">
                                <img width="40px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Github-Dark.svg" alt="Google Drive">
                                Repositorio
                            </a>
                        </div>
                        <div class="tech-icons">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/C.svg" alt="Icono" class="icono">
                        </div>
                    </div>
                </div>
            </div>
            <button id="prevProject" class="nav-button" onclick="cambiarProyect(-1)" >&#10094;</button>
            <button id="nextProject" class="nav-button" onclick="cambiarProyect(1)">&#10095;</button>
        </div>
        <div id="art" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('art')">&times;</span>
                <h2>APP MÓVIL: GALERÍA DE ARTE</h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/galeria.png" alt="" class="active">
                            <img src="img/g2.png" alt="">
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'art')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'art')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p> Al seleccionar un género/estilo, se abre una lista con artistas del género/estilo seleccionado. Al seleccionar un artista, se muestra una lista de las obras del artista con imágenes en miniatura. Al seleccionar una obra en particular, se abre una ventana con la imagen de la misma y dos opciones:
                        <ul>
                            <li>Información: Muestra todos los detalles de la obra (Título, año de creación, descripción, precio estimado de venta, dueño actual, etc.)</li>
                            <li>Ofertar: Permite al usuario realizar una oferta para la compra de la obra ingresando sus datos personales y la oferta, la cual se almacena en memoria</li>
                        </ul>
                        </p>
                        <div class="button-container">
                            <a href="https://github.com/danielaariadna/ArtGallery" target="_blank">
                                <img width="40px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Github-Dark.svg" alt="Google Drive">
                                Repositorio
                            </a>
                        </div>
                        <div class="tech-icons">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/AndroidStudio-Dark.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/SQLite.svg" alt="Icono" class="icono">
                        </div>
                    </div>
                </div>
            </div>
            <button id="prevProject" class="nav-button" onclick="cambiarProyect(-1)" >&#10094;</button>
            <button id="nextProject" class="nav-button" onclick="cambiarProyect(1)">&#10095;</button>
        </div>
        <div id="modal5" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal5')">&times;</span>
                <h2>PÁGINA WEB: RESERVA DE VUELOS <img src="img/br.png" class="icono1"></h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/vuelos.png" alt="" class="active">
                            <img src="img/v2.png" alt="">
                            <img src="img/v3.png" alt="">
                            <img src="img/v3.png" alt="">
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'modal5')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'modal5')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Página web de reserva de vuelos. El foco estaba en utilizar Node y una base de datos. El idioma está en portgués por que fué un pedido en Fiverr de un cliente de Brasil, que necesitaba aprobar una materia de la facultad. </p>
                        <div class="button-container">
                            <a href="https://www.youtube.com/watch?v=k6v5jQERdUk" target="_blank">
                                <img width="40px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Github-Dark.svg" alt="Google Drive">
                                Repositorio
                            </a>
                        </div>
                        <div class="tech-icons">
                            <br>
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/NodeJS-Dark.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/JavaScript.svg" alt="Icono" class="icono">
                             <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/CSS.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/HTML.svg" alt="Icono" class="icono">
                        </div>
                    </div>
                </div>
            </div>
            <button id="prevProject" class="nav-button" onclick="cambiarProyect(-1)" >&#10094;</button>
            <button id="nextProject" class="nav-button" onclick="cambiarProyect(1)">&#10095;</button>
        </div>
        <div id="port" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('port')">&times;</span>
                <h2>MI PÁGINA WEB </h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/portfolio.png" alt="" class="active">
                            <img src="img/portfolio2.png" alt="" >
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'port')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'port')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Esta página la comencé hace bastante, cuando aún no tenía muchos conocimientos en desarrollo web. Por temas de la universidad la dejé abandonada y la retomé ahora. Soy consciente de que el front no es mi fuerte, por lo que hay varias cuestiones que hoy en día manejaría de forma distinta y mucho más optimizada. Podría empezarla desde cero o mejorarla en el futuro, pero por el momento cumple con mis necesidades y prefiero enfocar mi tiempo en otros proyectos.<br>
                            💗 La animación del inicio la hice con Three.js sólo por experimentar<br>
                        </p>
                        <div class="button-container">
                            <a href="https://github.com/danielaariadna/Portfolio" target="_blank">
                                <img width="40px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Github-Dark.svg" alt="Google Drive">
                                Repositorio
                            </a>
                        </div>
                        <div class="tech-icons">
                            <br>
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/NodeJS-Dark.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/JavaScript.svg" alt="Icono" class="icono">
                             <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/CSS.svg" alt="Icono" class="icono">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/HTML.svg" alt="Icono" class="icono">
                        </div>
                    </div>
                </div>
            </div>
            <button id="prevProject" class="nav-button" onclick="cambiarProyect(-1)" >&#10094;</button>
            <button id="nextProject" class="nav-button" onclick="cambiarProyect(1)">&#10095;</button>
        </div>
        <div id="redWan" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('redWan')">&times;</span>
                <h2>DISEÑO DE RED </h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/redesWan.png" alt="" class="active">
                            <img src="img/1.png" alt="">
                            <img src="img/2.png" alt="">
                            <img src="img/3.png" alt="">
                            <img src="img/4.png" alt="">
                            <img src="img/5.png" alt="">
                            <img src="img/6.png" alt="">
                            <img src="img/7.png" alt="">
                            <img src="img/8.png" alt="">
                            <img src="img/9.png" alt="">
                            <img src="img/10.png" alt="">
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'redWan')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'redWan')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Este es un diseño de red hecho para el coloquio de promoción de la materia "Arquitectura de Redes", en la cuál había que diseñar la red para una empresa crediticia cuyas sucursales utilizan diferentes servicios. A fines de simplificar el diseño, se muestran ejemplos de la sede central y de una sucursal con FTTH, y otras dos sucursales con ADSL/SDSL.<br>
                            En el drive se encuentra la consigna completa con todos los requerimientos y la presentación.<br>
                            
                        </p>
                        <div class="button-container">
                            <a href="https://drive.google.com/drive/folders/11f01kec1IqYziuiMZIxEecpqR4udwgmy?usp=drive_link" target="_blank">
                                <img width="38px" src="img/google-drive.png" alt="Google Drive">
                                Drive
                            </a>
                        </div>
                        <div class="tech-icons">
                            
                        </div>
                    </div>
                </div>
            </div>
            <button id="prevProject" class="nav-button" onclick="cambiarProyect(-1)" >&#10094;</button>
            <button id="nextProject" class="nav-button" onclick="cambiarProyect(1)">&#10095;</button>
        </div>
        <div id="htb" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('htb')">&times;</span>
                <h2>DOCUMENTACIÓN Y SCRIPTS PENTESTING </h2>
                <div class="modal-body">
                    <div class="carousel">
                        <div class="carousel-inner">
                            <img src="img/redesWan.png" alt="" class="active">
                            <img src="img/1.png" alt="">
                            <img src="img/2.png" alt="">
                            <img src="img/3.png" alt="">
                            <img src="img/4.png" alt="">
                            <img src="img/5.png" alt="">
                            <img src="img/6.png" alt="">
                            <img src="img/7.png" alt="">
                            <img src="img/8.png" alt="">
                            <img src="img/9.png" alt="">
                            <img src="img/10.png" alt="">
                        </div>
                        <a class="prev" onclick="cambiarImagen(-1, 'htb')">&#10094;</a>
                        <a class="next" onclick="cambiarImagen(1, 'htb')">&#10095;</a>
                           
                    </div>
                    <div class="description">
                        <h1>DESCRIPCIÓN</h1>
                        <p>Un poco de la documentación que realizo y scripts que utilizo cuando practico pentesting en Hack The Box u otras plataformas.  </p>
                        <div class="button-container">
                            <a href="https://drive.google.com/drive/folders/1N3KGM6_nv08cB3XxjREk05kxk-Gu-k0K?usp=sharing" target="_blank">
                                <img width="40px" src="img/google-drive.png" alt="Google Drive">
                                Drive
                            </a>
                        </div>
                        <div class="button-container">
                            <a href="https://drive.google.com/drive/folders/1N3KGM6_nv08cB3XxjREk05kxk-Gu-k0K?usp=sharing" target="_blank">
                                <img width="40px" src="https://github.com/tandpfun/skill-icons/raw/main/icons/Github-Dark.svg" alt="Google Drive">
                                Repositorio
                            </a>
                        </div>
                   
                        <div class="tech-icons">
                            <img src="https://github.com/tandpfun/skill-icons/raw/main/icons/Kali-Dark.svg" alt="Icono" class="icono">
                        </div>
                    </div>
                </div>
            </div>
            <button id="prevProject" class="nav-button" onclick="cambiarProyect(-1)" >&#10094;</button>
            <button id="nextProject" class="nav-button" onclick="cambiarProyect(1)">&#10095;</button>
        </div>

   
    </section>

    <!-- SECCION S E R V I C I O S (Inicialmente iba a ofrecer mis servicios en esta seccion pero se convertió en una especie de vlog(?))-->
    <section id="servicios">

        <div class="video-background">
           
            <video class="video-foreground" autoplay muted loop playsinline>
                <source id="videoSource1" src="img/fondo1PCS.mp4" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
        </div>
    
        <h3 class="titulo-seccion">Un poco de todo</h3>
        <h1>//Haz click </h1>
        
        <div class="fila" >
            <div class="servicio" onclick="openModal('ing')" data-aos="zoom-in">
                
                <h4>INGENIERÍA EN INFORMÁTICA UNSL </h4>
                <hr>
                <img src="https://i.pinimg.com/564x/6d/c3/52/6dc3527fd75e885f58cc9f06debf730f.jpg"  >
            </div>
            
            <div class="servicio" onclick="openModal('pila')" data-aos="zoom-in" >
                
                <h4>INTERCAMBIO VIRTUAL<br>2C 2024</h4>
                <hr>
                <img src="https://i.pinimg.com/564x/bf/0a/e0/bf0ae0310864e12571f73671f89b6a17.jpg"  >
               
                
            </div>
          
            <div class="servicio" onclick="openModal('cyber')"  data-aos="zoom-in">
                
                <h4>CIBERSEGURIDAD<br>Y PENTESTING</h4>
                <hr>
                <img src="https://i.pinimg.com/564x/6d/c3/52/6dc3527fd75e885f58cc9f06debf730f.jpg"  >
                
            </div>
            

            
        </div>
        <div class="fila">
            <div class="servicio"   onclick="openModal('rally')"data-aos="zoom-in">
                
                <h4>RALLY LAT. DE INNOVACIÓN 2023</h4>
                <hr>
                <img src="https://i.pinimg.com/564x/bf/0a/e0/bf0ae0310864e12571f73671f89b6a17.jpg"  >
              
           
            </div>
            <div class="servicio" onclick="openModal('cacic')" data-aos="zoom-in" >
                
                <h4>VIAJES AL CACIC <br>2022-2023</h4>
                <hr>
                <img src="https://i.pinimg.com/564x/6d/c3/52/6dc3527fd75e885f58cc9f06debf730f.jpg"  >
                
            
            </div>

            <div class="servicio" onclick="openModal('mip')" data-aos="zoom-in">
                
                <h4>MI (NO) <br>PRIMER EMPLEO</h4>
                <hr>
                <img src="https://i.pinimg.com/564x/bf/0a/e0/bf0ae0310864e12571f73671f89b6a17.jpg"  >
               
                
            </div>
        </div>

        
    </section>
    <!-- INFO -->
    <div id="mip" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('mip')">&times;</span>
            <h2>💗MI PRIMER EMPLEO </h2>
            <div class="modal-body">
                <div class="carousel">
                    <div class="carousel-inner">
                        <img src="img/mip1.png" alt="" class="active">
                        <img src="img/mip2.png" alt="">
                    </div>
                    <a class="prev" onclick="cambiarImagen(-1, 'mip')">&#10094;</a>
                    <a class="next" onclick="cambiarImagen(1, 'mip')">&#10095;</a>
                       
                </div>
                <div class="description">
                    <p> "Mi Primer Empleo" fue una pasantía de Amcor Flexibles SL, creada para brindarle a los/las hijos/as de sus trabajadores la posibilidad de tener su primera experiencia laboral. Si bien no fué realmente mi primer trabajo, decidí participar por la experiencia, ya que ninguno de los sectores disponibles tenían que ver con la carrera que estudio.
                        Estuve en el sector de Laboratorio, donde aprendí a elaborar informes, inventarios, normas de seguridad e higiene, testeos de calidad, entre otras cosas. Lo que más aprendí de esta empresa fue sobre la prevención de riesgos, la seguridad y la importancia de cumplir los protocolos, el método que utilizaban redujo drásticamente los accidentes laborales. Agradezco haber participado y haber adquirido tantos conocimientos, sin dudas mi día preferido de los 2 meses que estuve, fué el que pasé en el Área de Informática, luego de que pedí que me dieran la oportunidad. Ver de cerca como mantenían los servidores y cómo funcionaba el equipo IT, me inspiró a esforzarme más y más para llegar a esa meta.
                        </p>
                        <div class="right-align">
                            <img src="https://media.giphy.com/media/VgCDAzcKvsR6OM0uWg/giphy.gif" width="60px">
                            <b>> Ari.~</b>
                        </div>
                 
                </div>
            </div>
        </div>
            <button id="prevProject" class="nav-button" onclick="cambiarEntrada(-1)" >&#10094;</button>
            <button id="nextProject" class="nav-button" onclick="cambiarEntrada(1)">&#10095;</button>
    </div>
    <div id="rally" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('rally')">&times;</span>
            <h2>💗RALLY LATINOMÉRICANO DE INNOVACIÓN 2023 </h2>
            <div class="modal-body">
                <div class="carousel">
                    <div class="carousel-inner">
                        <img src="img/rally1.png" alt="" class="active">
                        <img src="img/rally2.png" alt="">
                        <img src="img/rally3.png" alt="">
                        <img src="img/rally4.png" alt="">
                        <img src="img/rally5.png" alt="">
                    </div>
                    <a class="prev" onclick="cambiarImagen(-1, 'rally')">&#10094;</a>
                    <a class="next" onclick="cambiarImagen(1, 'rally')">&#10095;</a>
                       
                </div>
                <div class="description">
                    <p>Es una competencia que dura 28 horas seguidas, donde compiten equipos de las universidades de toda Latinoamérica para dar solución a diferentes problemáticas. En esta ocasión, nos tocó la “revalorización de residuos cítricos”. Nuestra propuesta fue la creación de bioplásticos a partir de residuos de cáscaras de naranja para producir yeso biodegradable. Quedamos en primer lugar a nivel SEDE en nuestra facultad, junto al equipo "Citroinnovar". ¿Qué tiene esto que ver con la informática? Nada, pero una vez más lo hice por la experiencia y porque pasar 28 horas sin dormir es algo que se me da muy bien. Mi aporte estuvo en la realización del contenido multimedia y en la recolección de información.<br>Me gustaría participar en la próxima edición con un proyecto relacionado al desarrollo de software.</p>                       
                        
                        <div class="right-align">
                            <img src="https://media.giphy.com/media/VgCDAzcKvsR6OM0uWg/giphy.gif" width="60px">
                            <b>> Ari.~</b>
                        </div>
                        <div class="button-container">
                            <a href="https://www.youtube.com/watch?v=k6v5jQERdUk" target="_blank">
                                <img width="40px" src="img/youtube.png" alt="Google Drive">
                                Video
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <button id="prevProject" class="nav-button" onclick="cambiarEntrada(-1)" >&#10094;</button>
        <button id="nextProject" class="nav-button" onclick="cambiarEntrada(1)">&#10095;</button>
    </div>
    <div id="ing" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('ing')">&times;</span>
            <h2>💗INGENIERÍA EN INFORMÁTICA EN LA UNSL </h2>
            <div class="modal-body">
                <div class="carousel">
                    <div class="carousel-inner">
                        <img src="img/ing1.png" alt="" class="active">
                        <img src="img/ing2.png" alt="">
                        <img src="img/ing3.png" alt="">
                        <img src="img/ing4.png" alt="">
                        <img src="img/ing5.png" alt="">
                        <img src="img/ing6.png" alt="">
                        <img src="img/ing7.png" alt="">
                        <img src="img/ing8.png" alt="">
                    </div>
                    <a class="prev" onclick="cambiarImagen(-1, 'ing')">&#10094;</a>
                    <a class="next" onclick="cambiarImagen(1, 'ing')">&#10095;</a>
                       
                </div>
                <div class="description">
                    <p>Aprovecho este espacio para adjuntar mi drive de la carrera. En cada carpeta de cada materia hay proyectos, resolución de trabajos prácticos, parciales, finales, resúmenes, libros, etc. <br>Cabe destacar que el drive original lo comenzó otro alumno más avanzado. Fue tanto lo que me sirvió su contenido a mí y a otros compañeros, que decidí hacer el mío para seguir aportando, ya que él no continuó con sus estudios y el drive estaba incompleto. Como este drive lo comencé en 2° año, es posible que las materias de la carpeta de 1° no tengan mucho contenido. También quiero aclarar que parte de los archivos antes mencionados son míos, otros son del drive original, y otros son aportes nuevos. Siempre doy crédito a su autor, pero en caso de que se me haya pasado algún archivo, puedes contactarme para corregir la situación.</p>
                    <div class="right-align">
                        <img src="https://media.giphy.com/media/VgCDAzcKvsR6OM0uWg/giphy.gif" width="60px">
                        <b>> Ari.~</b>
                    </div>
                    <div class="button-container">
                        <a href="https://drive.google.com/drive/folders/1EUkDMefyiniqMbEeUdANlSGlinrO7zdV?usp=drive_link" target="_blank">
                            <img width="40px" src="img/google-drive.png" alt="Google Drive">
                            Drive
                        </a>
                    </div>
            
                        
                      
                 
                </div>
            </div>
        </div>
        <button id="prevProject" class="nav-button" onclick="cambiarEntrada(-1)" >&#10094;</button>
        <button id="nextProject" class="nav-button" onclick="cambiarEntrada(1)">&#10095;</button>
    </div>
    <div id="cacic" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('cacic')">&times;</span>
            <h2>💗CACIC</h2>
            <div class="modal-body">
                <div class="carousel">
                    <div class="carousel-inner">
                        <img src="img/cacic1.png" alt="" class="active">
                        <img src="img/cacic2.png" alt="">
                        <img src="img/cacic3.png" alt="">
                        <img src="img/cacic4.png" alt="">
                  
                    </div>
                    <a class="prev" onclick="cambiarImagen(-1, 'cacic')">&#10094;</a>
                    <a class="next" onclick="cambiarImagen(1, 'cacic')">&#10095;</a>
                       
                </div>
                <div class="description">
                    <p>Este congreso se realiza todos los años en diferentes partes del país, generalmente durante 4 días en el mes de octubre. Además de los workshops, ofrece una escuela de informática con 4 cursos, los cuales constan de 4 clases y se dictan durante los 4 días del congreso. <br>Tuve la oportunidad de organizar este viaje junto a algunos de mis compañeros (a veces con más y a veces con menos participación), y como fruto de esta organización pudimos invitar a otros alumnos del departamento de informática para que pudiesen vivir esta experiencia con nosotros. Nuestro agradecimiento es infinito, ya que en ambas oportunidades el CACIC nos brindó alojamiento y comida. Por otra parte, el transporte fue gestionado por nuestra universidad. Lo único que quedaba cubrir eran los gastos de matriculación en la escuela de informática, para lo cual realizamos una rifa con el centro de estudiantes y pudimos cubrir cada una de las inscripciones. Es una hermosa experiencia, no solo por los conocimientos que nos traemos del congreso, sino por todos los amigos y contactos que hacemos con alumnos de universidades de todo el país.</p>
                    <div class="right-align">
                        <img src="https://media.giphy.com/media/VgCDAzcKvsR6OM0uWg/giphy.gif" width="60px">
                        <b>> Ari.~</b>
                    </div>
                 
                </div>
            </div>
        </div>
        <button id="prevProject" class="nav-button" onclick="cambiarEntrada(-1)" >&#10094;</button>
            <button id="nextProject" class="nav-button" onclick="cambiarEntrada(1)">&#10095;</button>
    </div>
    <div id="pila" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('pila')">&times;</span>
            <h2>💗PILA VIRTUAL<img src="img/colombia.png" class="icono1"></h2>
            <div class="modal-body">
                <div class="carousel">
                    <div class="carousel-inner">
                        <img src="img/pila1.png" alt="" class="active">
                        <img src="img/pila2.png" alt="">
                    </div>
                    <a class="prev" onclick="cambiarImagen(-1, 'pila')">&#10094;</a>
                    <a class="next" onclick="cambiarImagen(1, 'pila')">&#10095;</a>
                       
                </div>
                <div class="description">
                    <p>Estoy participando en el Programa de Intercambio Académico Latinoamericano en la modalidad virtual. Elegí cursar 2 materias en la Universidad Militar Nueva Granada, Colombia, en la facultad de estudios a distancia. Que me aceptaran en esta beca fue un milagro para mí. Primero, porque amo las nuevas experiencias y conocer gente; y segundo, porque voy a poder adelantar un cuatrimestre. Estoy muy feliz aunque aún no comienzo a cursar. Iré dejando fotos y actualizando a medida que pase el cuatrimestre.</p>
                    <div class="right-align">
                        <img src="https://media.giphy.com/media/VgCDAzcKvsR6OM0uWg/giphy.gif" width="60px">
                        <b>> Ari.~</b>
                    </div>
                    <div class="button-container">
                        <a href="https://www.programapila.lat" target="_blank">
                            <img width="40px" src="img/pag.png" alt="Google Drive">
                            Programa Pila
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button id="prevProject" class="nav-button" onclick="cambiarEntrada(-1)" >&#10094;</button>
            <button id="nextProject" class="nav-button" onclick="cambiarEntrada(1)">&#10095;</button>
    </div>
    <div id="cyber" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('cyber')">&times;</span>
            <h2>💗CIBERSEGURIDAD Y PENTESTING</h2>
            <div class="modal-body">
                <div class="carousel">
                    <div class="carousel-inner">
                        <img src="img/cyber1.png" alt="" class="active">
                        <img src="img/cyber2.png" alt="">
                    </div>
                    <a class="prev" onclick="cambiarImagen(-1, 'cyber')">&#10094;</a>
                    <a class="next" onclick="cambiarImagen(1, 'cyber')">&#10095;</a>
                       
                </div>
                <div class="description">
                    <p>Así como tengo un drive para mi carrera universitaria, estoy armando uno similar para la carrera que estoy empezando en ciberseguridad. Realmente esto lo estoy haciendo de forma autodidacta, así que he tratado de dividir las carpetas en las diferentes plataformas que estoy usando. Falta pulir mucho aún, pero por el momento tengo los apuntes de cada curso que he hecho o que estoy realizando y me guastaría compartirlo. Algunos de ellos son: <br> <li>Certified in Cybersecurity - ISC2</li>
                        <li>Junior Cybersecurity Analyst - Cisco</li>
                        <li>SC-900 - Microsoft</li>
                        <li>Hacking Ético - Ademass</li>
                        <li>Notas de mis resoluciones en Hack The Box</li></p>
                        <div class="right-align">
                            <img src="https://media.giphy.com/media/VgCDAzcKvsR6OM0uWg/giphy.gif" width="60px">
                            <b>> Ari.~</b>
                        </div>
                        <div class="button-container">
                            <a href="https://drive.google.com/drive/folders/1YUSjLUsX8QKQDWnbj-8lBXFyIAdPc6dH?usp=sharing" target="_blank">
                                <img width="40px" src="img/google-drive.png" alt="Google Drive">
                                Drive
                            </a>
                        </div>
                 
                </div>
            </div>
        </div>
        <button id="prevProject" class="nav-button" onclick="cambiarEntrada(-1)" >&#10094;</button>
            <button id="nextProject" class="nav-button" onclick="cambiarEntrada(1)">&#10095;</button>
    </div>
    <!-- SECCTION C O N T A C T O -->
    <section id="contact">
        <h3 class="titulo-seccion">¡Contactame!</h3>
        <h1>// También acepto criticas constructivas sobre la página y mis proyectos :) </h1>
        <section id="contacto">
            <div class="contacto-info"  data-aos="fade-right">
                <div class="contacto-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>San Luis, Argentina</p>
                </div>
                <div class="contacto-item">
                    <i class="fas fa-envelope"></i>
                    <p>danielaariadnamorales@gmail.com</p>
                </div>
                <div class="contacto-item">
                    <i class="fab fa-github"></i>
                    <p><a href="https://github.com/danielaariadna" target="_blank">github.com/danielaariadna</a></p>
                </div>
                <div class="contacto-item">
                    <i class="fab fa-linkedin"></i>
                    <p><a href="https://www.linkedin.com/in/daniela-ariadna-morales/" target="_blank">linkedin.com/in/daniela-ariadna-morales</a></p>
                </div>
            </div>
            <div class="contacto-imagen">
                <img src="https://i.pinimg.com/originals/59/b8/c8/59b8c8622c076c5dc7bac0dd591c712c.gif" alt="Imagen de contacto"  data-aos="fade-left">
            </div>
        </section>
    </section>
   
    <!-- SECCION FOOTER -->
    <footer>
        <p>Daniela Ariadna Morales - 2024</p>
        <div class="redes2">
            <a href="mailto:danielaariadnamorales@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/daniela-ariadna-morales-b786b4197/" target="_blank"> <i class="fab fa-linkedin"></i></a>
            <a href="https://drive.google.com/drive/folders/1gdTpIsoBM3AB-t3DkOy-JcCNaZNIGoXB?usp=drive_link" target="_blank"><i class="fab fa-google-drive"></i></a>
            <a href="https://github.com/danielaariadna" target="_blank"><i class="fab fa-github"></i></a>
        </div>

    </footer>
    
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.158.0/three.min.js"> </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   
    <script src="/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        $(document).ready(function(){
          AOS.init({
            duration: 1200,
          });
        });
      </script>
</body>

</html>
